*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: cornflowerblue;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: solid black 1px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator > button:active:hover {
  font-size: 1.8rem;
}

.calculator > button:not(.number) {
  background-color: rgba(107, 72, 146, 0.75);
}

.calculator > button:not(.number):hover {
  background-color: rgba(107, 72, 146, 0.95);
}

.display {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: end;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

.last-number {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.current-number {
  color: white;
  font-size: 2.5rem;
}
